.about-me{
    height:100%;
    @include flexC;
    justify-content: center;
    background:$third;
    border-top:5px solid $accent;
    border-left:5px solid $accent;

    .about-me-header{
        width:100%;
        text-align:center;

        h2{
            font-family:$font1;
            text-transform: uppercase;
        }
        
    }
    .stories{
        @include flexR;
        width:100%;
  

        .my-story{
            width:50%;
            @include flexC;
            height:100%;
            align-items: center;
            

            .my-story-header{
                @include flexC;
                align-items: center;

                h3{
                    font-family: $font1;
                    text-align: center;
                    text-transform: capitalize;
                }

                p{
                    font-family: $font2;
                    text-align: left;
                    width:80%;
            }
            }

            .my-story-buttons{
                text-align: center;

                button{
                    margin:10px 20px;
                    padding: 10px 20px;
                    background:white;
                    border:none;
                    color:$secondary;
                    text-transform: uppercase;

                }

                button:hover{
                    background:$accent;
                    color:white;
                }
            }

        }
        .my-philosophy{
            width:50%;
            height:100%;

            .my-philosophy-header{
                @include flexC;
                align-items: center;
                h3{
                    font-family: $font1;
                    text-align: center;
                    text-transform: capitalize;
                }
                p {
                    font-family: $font2;
                    text-align: left;
                    width: 80%;
                    
                }
            }

        }

    }

}