
.catergory-tabs{
overflow: hidden;
@include flexC;
.mdl-tabs__tab {
    font-weight: bold;
    text-transform: uppercase;
    color: $accent;
    font-family: $font2;
    letter-spacing:4px;


}

.cards{
    @include flexR;
    flex-wrap:wrap;
    width: 100%;
    justify-content: space-around;
    height:100%;
    
    .card{
        border:3px solid $primary;
        height: 300px;
        margin:20px 0;
        background-color: transparent;
        
        


.flipcard {
    height:100%;
    width: 280px;
    position: relative;
    perspective: 700px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-align: center;

}

.flipcard_front,
.flipcard_back {
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
   

    .flipcard_front_background{
        height:100%;
        width:100%;
        background:$third;
        @include flexC;
        justify-content: space-between;


        .flipcard_front_image{
            width:100%;
            height:65%;
            @include mobile-large{
                height:100%;
            }
            img{
                width:100%;
                height:100%;
                object-fit: fill;
            }
        }

        .flipcard_front_title{        
        background:whitesmoke;
        @include flexC;
        justify-content: center;
        border-top:3px solid $primary;
        height:35%;
        @include mobile-large{
            display: none;
        }
        h3{
            font-family: $font1;
            text-transform: uppercase;
            color:$primary;
            margin:0;
            
        }
        
    }
    
        
        
       
    }

}

.flipcard_front {
    -webkit-transform: translate(-50%, -50%) rotateY(0deg);
    -ms-transform: translate(-50%, -50%) rotateY(0deg);
    transform: translate(-50%, -50%) rotateY(0deg);
    background-size: 100% 100%;
    background-position: inherit;
    background-repeat: no-repeat; 
}

.flipcard:hover .flipcard_front {
    -webkit-transform: translate(-50%, -50%) rotateY(180deg);
    -ms-transform: translate(-50%, -50%) rotateY(180deg);
    transform: translate(-50%, -50%) rotateY(180deg);
}

.flipcard_back {
    -webkit-transform: translate(-50%, -50%) rotateY(180deg);
    -ms-transform: translate(-50%, -50%) rotateY(180deg);
    transform: translate(-50%, -50%) rotateY(180deg);
    color: white;
    background: $primary; 


}

.flipcard:hover .flipcard_back {
    -webkit-transform: translate(-50%, -50%) rotateY(360deg);
    -ms-transform: translate(-50%, -50%) rotateY(360deg);
    transform: translate(-50%, -50%) rotateY(360deg);
}

.flipcard_description {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10% 10% 0%;
    overflow: auto;
    @include flexC;
    justify-content: center;
    @include mobile-large{
        justify-content: space-evenly;
    }
    .flipcard_back_title{
        display:none;
        @include mobile-large{
            display: block;
            h3 {
                font-family: $font1;
                text-transform: uppercase;
                color: $third;
                margin: 0;

            }
        }
    }
    p{
        color:$third;
        font-family: $font2;
    }
    .flipcard_actions{
        @include flexR;
        justify-content: space-evenly;
        width:100%;
        
        i{
            color:$third;
            font-size:2.3rem;
        }
        i:hover{
            color:$accent;
        }

    }
}



    
    }
    }
}
