

.catergory-tabs{
    background:$third;
    width:100%;
    border-top:5px solid $accent;
    border-left:5px solid $accent;

    .mdl-card {
        height: 400px;
        @include flexC;
        align-items: center;
        @include desktop {
            width: 250px;
        }
        
    }
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;

        
    
    .mdl-card__title {
        align-items: flex-end;
        h3{
            color:black;
            font-size:1.2rem;
            margin:0;
            font-family: $font1;
            text-transform: capitalize;
            background:$third;
            color:$accent;
            padding:5px 10px;
        }
    }
    .mdl-card__supporting-text{
        height:80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px 20px;
        margin-bottom: 15px;
        font-family: $font2;
        color:$secondary;
        font-size:1.2rem;
    }
    .mdl-button{
        background: $third;
        margin:10px 20px;
        a{
            color:$accent;
            text-decoration: none;
        }
        
    }
   

    }

    
}