
.catergory-tabs{
overflow: hidden;
@include flexC;
.mdl-tabs__tab {
    font-weight: bold;
    text-transform: uppercase;
    color: $accent;
    font-family: $font2;
    letter-spacing:4px;


}
.mdl-tabs__tab:hover{
    color:$primary;
}
@include desktop{
    justify-content: flex-start;
    overflow:auto;
    
}

.cards{
    @include flexR;
    flex-wrap:wrap;
    width: 100%;
    justify-content: space-around;
    height:100%;
    .card{
        border:3px solid $third;
        height: 369px;
        margin: 10px 5px;
        

        .mdl-card{
            width:300px;
            
            .mdl-card__supporting-text{
            width: 100%;
            text-align: center;
            font-family: $font2;
            color:$secondary;
            height:300px;
            @include flexC;
            justify-content: space-between;
            .mdl-card__title{
                border:3px solid $third;
                @include flexC;
                justify-content: flex-end;
                align-items: flex-start;
                h3{
                    font-family: $font1;
                    margin:0;
                    text-transform: uppercase;
                    font-size:1.2rem;
                    background:$third;
                    color:$accent;
                    padding:5px 5px;
                }
            }
        }
        .mdl-card__actions{
            text-align: center;
            margin:0;
            @include flexR;
            justify-content: space-around;
            a{
                padding:10px 20px;
                border:3px solid $secondary;
                color:$accent;
                text-decoration: none;
                font-family: $font2;
                text-transform: uppercase;
                font-weight: bold;

            }
            a:hover{
                background:$primary;
                color:white;
            }
            a:focus{
                background:white;
                color:$accent;
            }
            a:active{
                background:$primary;
                color:white;
            }
            
        }
    }
        
}
}

    
}