.resume{
    border-top:5px solid $accent;
    border-left:5px solid $accent;
    @include flexC;
    background:$third;
    justify-content: space-evenly;
    height:100%;

    .resume-header{
        
        text-align:center;
        h2{
            font-family: $font1;
            text-transform: uppercase;
        }
    }
    .resume-content{
        @include flexR;
        justify-content: space-evenly;
        width:100%;
        
        .resume-block{
            @include flexC;
            justify-content: center;
            height:100%;
            width:30%;
            
            
            
            

            .resume-block-title{
                @include flexC;
                justify-content: center;
                align-items: center;
                width:100%;

                i{
                    font-size: 40px;
                }
                h3{
                    font-size: 1.2rem;
                    font-family:$font1;
                   
                    text-transform: uppercase;
                    width:100%;
                    text-align: center;
                    font-weight:bold;
                    
                }
                .fas{
                   
                    justify-content: center;
                    

                    
                }
                span{
                    color:$accent;
                    font-weight: bold;
                    text-transform: uppercase;

                }
            }
            .resume-block-content{
                text-align: center;
            }

        }
    }


}