.my-skills{
     @include flexC;
     @include inWrapper;
     justify-content: center;
     
     .header{
          @include header;
     }
     .skill-gallery{
          @include flexR;
          flex-wrap:wrap;
          height: 100%;
          align-items: center;
          width: 100%;
          align-content: flex-start;
          justify-content: center;

          .skills-row{
               @include flexR;
               flex-basis:calc(100% /3);
               justify-content: space-between;
               margin:0 20px;
               margin-top: 40px;
               

               figure{
                    width: 90px;
                    
                    text-align: center;
                    background:$third;
                    margin:0 10px;

                    figcaption{
                         background:$third;
                         color:$accent;
                         font-family: $font2;
                         font-weight: bold;
                         text-transform: uppercase;
                         width:100%;
                         border:3px solid white;
                         padding:10px;
                         margin-top: 10px;
                         margin-bottom:10px;
                         
                    
                         
                         span{
                              width:100%;
                              
                         }

                    }
               }

          }

     }

}