$primary: rgb(82, 86, 89);
$secondary: #000000;
$third: #dddddd;
$accent: #08A300;
$font1: 'Dosis', sans-serif;
$font2: 'Source Sans Pro', sans-serif;
$bo: 1px solid black;


@mixin flexC {
    display:flex;
    flex-direction: column;
   
}
@mixin flexR{
    display: flex;
    flex-direction: row;

}
@mixin inWrapper{
    @include flexC;
    justify-content: space-evenly;
    background:$third;
    border-top:5px solid $accent;
    border-left:5px solid $accent;
    height:100%;
    width:100%;
}

@mixin header{
    width:100%;
    text-align:center;

    h2 {
        font-family: $font1;
        text-transform: uppercase;
        color:$accent;
    }
    }



$mobile: 400px;
$mobile-medium : 500px;
$mobile-large: 600px;
$tablet-small: 700px;
$tablet: 900px;
$desktop: 1200px;


@mixin mobile-medium {
    @media (max-width: #{$mobile-medium}) {
        @content;
    }
}
@mixin tablet-small {
    @media (max-width: #{$tablet-small}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin mobile-large {
    @media (max-width: #{$mobile-large}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}