$primary: #525659;
$secondary: #000000;
$third: #dddddd;
$accent: #08A300;
$font1: 'Dosis', sans-serif;
$font2: 'Source Sans Pro', sans-serif;
$bo: 1px solid black;


@mixin flexC {
    display:flex;
    flex-direction: column;
   
}
@mixin flexR{
    display: flex;
    flex-direction: row;

}