.App{
max-width: 1600px;
width:100%;
margin: 0 auto;
overflow-x: hidden;
}


body{
    background:$third;
}
.main{
    @include flexR;
    height:80vh;
    @include desktop {
        height: auto;
    }
}

.wrapper{
 width:100%;
 @include inWrapper;
 @include tablet-small{
     border:none;
 }
 

}

@include tablet-small {
    nav {
        display: none;
    }

}
